page-self-eval {

    .self-eval-content {
      color: black;
      text-align: center;
      background-color: color($colors, gigbot-light-gray, base);
    }

  .self-eval-button {
      width: 80%;
      height: 30px;
      border: 2px solid white;
      border-radius: 50px;
      outline-color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      margin: 0 auto;
  }

  .self-eval-audio {
      width: 100%;
      background-color: transparent; 
  }

  .self-eval-item {
      width: 100%;
      background-color: transparent;
  }

  .results {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .grade {
    font-size: 50px;
    color: color($colors, gigbot-green, base);
  }

    #next-question-button {
        background-color: color($colors, gigbot-blue, base);
    }

    .question-content {
        background-color: color($colors, gigbot-blue, base);
        color: white;
        border-radius: 10px;
        border: 2px solid white;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    
    .good-response-content {
        background-color: white;
        text-align: left;
        border-radius: 10px;
        border: 2px solid black;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .question-button {
        width: 80%;
        height: 30px;
        border: 2px solid white;
        border-radius: 50px;
        outline-color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin: 0 auto;
    }

    .playback-button {
        width: 100px;
        height: 100px;
        color: color($colors, gigbot-dark-gray, base);
      }

    #play-button {
        background: url("../assets/imgs/play.png") no-repeat;
        background-size: cover;
    }

    #pause-button {
        background: url("../assets/imgs/pause.png") no-repeat;
        background-size: cover;
    }

    .red {
        color: color($colors, gigbot-red, base);
    }

    .blue {
        color: color($colors, gigbot-blue, base);
    }


}
