<ion-header>

  <ion-navbar>
    <ion-title><div class=dark-blue-text>FINISHING</div>
      <div>SESSION</div></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class=post-record-content>

  <img src="../../assets/imgs/GIGBOT_Main.png" alt="Gigbot" width=15%>


  <p>
    <button class=post-record-button id=playback-button ion-button full (click)="playback()">
      PLAYBACK SESSION
    </button>
  </p>

  <div *ngIf = "startedplayback">

    <ion-list>
      <button  class=post-record-button id=question-playback-button
                ion-button *ngFor="let recording of myRecordings">
                {{recording}}
       START PLAYBACK
      </button>

       <audio-track #audio *ngFor="let track of myRecordings" [track]="track">

       </audio-track>

    </ion-list>


  </div>

  <p>
    <button class=post-record-button id=feedback-score-button ion-button full (click)="feedbackandscore()">
      REVIEW FEEDBACK AND SCORE
    </button>
  </p>


</ion-content>
