
page-post-record{

  .post-record-content {
      color: black;
      text-align: center;
      background-color: color($colors, gigbot-light-gray, base);
  }

  .post-record-button {
      width: 80%;
      height: 30px;
      border: 2px solid white;
      border-radius: 50px;
      outline-color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      margin: 0 auto;
  }

  #playback-button {
      background-color: color($colors, gigbot-dark-gray, base);
  }

  #feedback-score-button {
      background-color: color($colors, gigbot-dark-gray, base);
  }

  #question-playback-button{
    background-color: color($colors, gigbot-light-gray, base);
  }
}
