<ion-header>

  <ion-navbar>
    <ion-title><div class=dark-blue-text>REVIEW</div>
      <div>SESSION</div></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class=post-record-content>

  <img src="assets/imgs/GIGBOT_Main.png" alt="Gigbot" width=50%>


  <p>
    <button class=post-record-button id=playback-button ion-button full (click)="playback()">
      PLAYBACK SESSION
    </button>
  </p>

  <div *ngIf = "startedplayback">

    <ion-list>

     <audio-track #audio *ngFor="let track of myRecordings" [track]="track">

        <ion-item>
          <audio-track-play dark item-left [audioTrack]="audio">
            <ion-spinner></ion-spinner>
          </audio-track-play>

         <div item-content style="width:100%">
          <p><strong>Question {{audio.id + 1}}</strong></p>
          <audio-track-progress-bar dark duration progress [audioTrack]="audio"></audio-track-progress-bar>
        </div>
       </ion-item>
     </audio-track>
    </ion-list>


  </div>


  <button class=post-record-button id=feedback-score-button ion-button full (click)="navselfeval()">
    Q BY Q REVIEW
  </button>


</ion-content>
