<ion-header>
  <ion-navbar hideBackButton>
    <ion-title><div class=dark-blue-text>RECORDING</div>
      <div>SESSION</div></ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="navtologin()" color="light">
            Home
          </button>
        </ion-buttons>
    </ion-navbar>


</ion-header>

<ion-content padding class=practice-content>
  
  <div class="question-bubble">
    <img src='assets/imgs/Blue_Speech_Bubble-02.png' alt="Question Text" width=100%>
    <div class="question-text">
      <b>
      {{ questions_array[questionIndex] }} 
      </b>
    </div>
    
  </div>
  <div>
      <img src="assets/imgs/GIGBOT_RedordVideo.png" alt="Gigbot" width=50%>
  </div>

  <div *ngIf = "state == 'ready'">
    <p>
        <button class=practice-button id=start-record-button ion-button full (click)="startAudioRecording()" [disabled]="state != 'ready'">
        RECORD RESPONSE</button>
    </p>
  </div>

  <div *ngIf = "state == 'recording' || state == 'paused'">
    <p>
      <button  class=practice-button id=stop-record-button ion-button full (click)="stopAudioRecording()" [disabled]="state == 'paused'">
        END INTERVIEW</button>
    </p>
  </div>

  <p>
      <button  class=practice-button id=new-button ion-button full (click)="newQuestion()" [disabled]="state == 'ready' || question_count >= 2">
        NEXT QUESTION
      </button>
  </p>

  <div *ngIf = "state == 'recording'">
    <p>
        <button class=practice-button id=pause-record-button ion-button full (click)="pauseAudioRecording()">
          PAUSE RECORDING</button>
    </p>
    </div>

  <div *ngIf = "state == 'paused'">
    <p>
        <button  class=practice-button id=resume-record-button ion-button full (click)="resumeAudioRecording()">
          RESUME RECORDING</button>
    </p>
  </div>

</ion-content>
