page-home {

  ion-title{
    text-align: center;
  }
  .center{
    text-align: center;
  }
  .background-sp {
    background: url("../assets/imgs/GIGBOT_LaunchScreen_Background.jpg") no-repeat; 
    background-size: cover;
  }
  .gigbot-sp {
    /*background: url("../assets/imgs/GIGBOT_RedordVideo.png") no-repeat; 
    background-size: cover;*/
    text-align: center;
    color: white;
  }
  img.resize {
    width: 200px;
    margin: 0 auto;
  }
  .rounded {
    width: 100%;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-bottom: 15px;
  }
  .width280{
    width: 280px;
  }
  .align {
    padding: 0px 30px;
  }
  .upper1-sp{
    font-size: 27px;
  }
  .upper2-sp{
    font-size: 50px;
  }
  .upper3-sp{
    font-size: 22px;
    margin-bottom: 10px;
  }

}