page-library {

    .library-content{
        color: black;
        text-align: center;
        background-color: color($colors, gigbot-light-gray, base);
    }

    .question {
        background-color: transparent;
    }
}
