question-card {
}

.question-card-content {
    padding-bottom: 10px;
}

.card-container {
    background-color: white;
    width: 90%;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin: 0 auto;
}

.text-container {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
